/*-- scss:defaults --*/

// default theme base
$theme:                           "cosmo" !default;

// fonts import
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Victor+Mono&display=swap');

// fonts style
$headings-font-family:            "Montserrat", serif !default;
$font-family-sans-serif:          "Quicksand", Figtree, Helvetica, sans-serif !default;
$font-family-monospace:           "Fira Mono", monospace;

// font sizes;
$font-size-base:   1rem; //!default; // Assumes the browser default, typically `16px`
$h1-font-size:     $font-size-base * 2.5 !default;
$h2-font-size:     $font-size-base * 2 !default;
$h3-font-size:     $font-size-base * 1.75 !default;
$h4-font-size:     $font-size-base * 1.5 !default;
$h5-font-size:     $font-size-base * 1.25 !default;
$h6-font-size:     $font-size-base !default;

// colors
$primary:                         lighten(#FF6000, 5%) !default;

$body-bg:                         #f7f7f7 !default;
$body-color:                      #171717 !default;
$headings-color:                  $body-color !default;
$code-block-bg:                   darken($body-bg, 3%) !default;
$navbar-bg:                       $body-bg !default;
$navbar-hl:                       $primary !default;
$footer-bg:                       $body-bg !default;
$footer-fg:                       darken($body-bg, 30%) !default;

$link-color:                      $primary !default;
$link-shade-percentage:           30% !default;
$link-hover-color:                shift-color($link-color, $link-shade-percentage) !default;

$code-color:                      lighten($body-color, 10%) !default;
$code-bg:                         darken($body-bg, 10%) !default;

$card-border-color:               $body-color !default;
$form-select-border-color:        $body-color !default;

$badge-font-size:                   1em;
$badge-font-weight:                 normal;
$badge-color:                       $body-bg;
$badge-padding-y:                   .35em;
$badge-padding-x:                   .65em;
$badge-border-radius:               .5rem ;



/*-- scss:rules --*/

.quarto-title p{
  font-size: $h5-font-size;
}

#home-heading {
  margin-top: 0;
  padding-left: 1rem;
  font-size: $h1-font-size;
  font-weight: 700;
  font-family: $headings-font-family;
  text-align: right;
}

.badge {
  margin-bottom: .3rem;
  white-space: normal;
}


// add horizontal line at the top
#quarto-header {
  border-top: 5px solid $body-color;
  text-transform: lowercase;
  font-weight: bold;
}

// center navbar & remove menu l/r padding
.navbar > .container-xxl,
.navbar > .container-xl,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container,
.navbar > .container-fluid {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}


// links
a {
  color: $body-color;
  text-decoration-thickness: 1px;
}

a:hover {
  color: $primary;
  text-decoration-color: $primary;
}

.toc-actions a {
  text-decoration: none !important;
  border-bottom: 0;
}

.toc-actions a:hover {
  color: $primary;
}


.navbar .dropdown-header {
  text-transform: none;
}

.navbar .navbar-toggler {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }



// animated underline on hover, when navbar shows as row
@media screen and (min-width: 992px) {



  a.nav-link {
    position: relative;
  }

  a.nav-link:hover {
    color: $primary;
  }

  .navbar .navbar-nav .nav-item {
    position: relative;
  }

  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    margin: auto;
    background-color: $primary;
    width: 100%;
    content: "";
    height: 3px;
    transition: 0.4s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 100% 50%;
  }

  .navbar .navbar-nav .nav-item:hover::after {
    transform: scale3d(1,1,1);
    transform-origin: 0 50%;
  }

}


// home

div.quarto-about-solana{
  padding-top: 0 !important;
  padding-bottom: 2rem !important;
}

div.quarto-about-solana .about-entity .entity-contents{
  text-align: left;
  padding: 0 1rem 0 1rem;
}

div.quarto-about-solana .about-entity .about-links {
  justify-content: flex-start !important;
  column-gap: .7rem !important;
}

div.quarto-about-solana .about-entity .about-contents{
  padding: 0 2rem 0 0 !important;
}

div.quarto-about-solana .about-entity .about-image{
  margin-top: 1em;
}

div.quarto-about-solana .about-entity img.round{
  border-top-left-radius: 8%;
  border-top-right-radius: 70%;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 70%;
}


/* mobile query up for screens up to ~992px wide */
@media screen and (max-width: 991.98px) {
  div.quarto-about-solana .about-entity .entity-contents{
    order: 1 !important;
    text-align: center;
  }

div.quarto-about-solana .about-entity .about-links {
    justify-content: center !important;
    flex-direction: row;
  }

div.quarto-about-solana .about-entity .about-contents{
    padding: 0 0 0 0 !important;
  }

div.quarto-about-solana .about-entity .about-image{
    order: 2;
  }
}

// about icon links
div.quarto-about-solana .about-entity .about-link {
    font-size: 1.5em;
    padding: 3px 4px 3px 7px;
    background-color: transparent;
    color: $primary;
    border: 0 !important;
    border-color: $primary;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
}

div.quarto-about-solana  .about-entity .about-link:hover{
    background-color: $primary;
    color: $body-bg;
    border-color: $primary;
    text-decoration: none;
}

// accordion styling

.accordion-header {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.accordion {
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-bg: none;
    --bs-accordion-active-color: $body-color;
}

// home containers

#quarto-content {
  overflow-x: hidden;
}

.grid {
  //align-items: start;
  margin-bottom: 2rem;
  --grid-width: 100%;
}

.homeicon {
  font-size: 250%;
  color: $body-bg;
}

/* Style for light container */
.cont-light {
  padding: 2rem 2rem 1rem 2rem;
  background-color: #ffffff;
  position: relative;
  border-radius: 1rem 1rem 1rem 1rem !important;
}

.cont-light-img {
  padding: 6rem;
  background-color: #ffffff;
  position: relative;
  border-radius: 1rem 1rem 1rem 1rem !important;
}

.cont-light-img img {
  border-radius: 1rem !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cont-light-img h3 {
  position: absolute;
  top: 0rem;
  left: 1rem;
  z-index: 1; /* Ensure text is above the image */
  background-color: $body-color;
  color: $body-bg;
  border-radius: .5rem;
  padding: .5rem .7rem .5rem .7rem;

}

.cont-light-img a {
  color: $body-bg;
  text-decoration: none;
}

.cont-light-img a:hover {
  color: $primary;
}

.cont-light a,
.cont-light h1,
.cont-light h2,
.cont-light h3,
.cont-light h4,
.cont-light h5,
.cont-light h6 {
  margin: 0 0 1.5rem 0;
}

/* Style for icon container */

.cont-home-icon {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  border-radius: 1rem !important;
  background-color: $body-color;
}

.cont-home-icon a,
.cont-home-icon h1,
.cont-home-icon h2,
.cont-home-icon h3,
.cont-home-icon h4,
.cont-home-icon h5,
.cont-home-icon h6 {
  color: $body-bg;
}


@media screen and (max-width: 768px) {
  .cont-home-icon {
    order: 1 !important;
    padding-top: .5rem;
    padding-bottom: .3rem;
  }

  .cont-light {
    order: 2 !important;
  }

  .cont-light-img {
    order: 3 !important;
  }
}


.grid-right {
  position: relative;
}

.grid-right:after {
  content: '';
  position: absolute;
  top: -1rem;
  left: -1rem;
  right: 0.25rem;//calc((100vw - var(--grid-width))/-2);;
  bottom: -1rem;
  border-radius: 1rem 0 0 1rem !important;
  border-top: .15rem dashed lighten($body-color, 30%);
  border-left: .15rem dashed lighten($body-color, 30%);
  pointer-events: none;
}

.grid-left {
  position: relative;
}

.grid-left:after {
  content: '';
  position: absolute;
  top: -1rem;
  right: -1rem;
  left: 0.25rem;//calc((100vw - var(--grid-width))/-2);;
  bottom: -1rem;
  border-radius: 0 1rem 1rem 0 !important;
  border-top: .15rem dashed lighten($body-color, 30%);
  border-right: .15rem dashed lighten($body-color, 30%);
  pointer-events: none;
}

.grid-right-end {
  position: relative;
}

.grid-left-end:before {
  content: url('assets/img/home_hist.png');
  position: absolute;
  top: -7.8rem; /* Position at the top of the container */
  left: 0; /* Align with the right border of the container */
  bottom: 0;
  right: 6rem;
  transform: scale(0.2);
  transform-origin: top right;
  z-index: 1; /* Ensure it's above other elements */
}

@media screen and (max-width: 992px) {
  .grid-left-end:before {
    content: url('assets/img/home_hist.png');
    position: absolute;
    top: -7.8rem; /* Position at the top of the container */
    left: 0; /* Align with the right border of the container */
    bottom: 0;
    right: 8.5rem;
    transform: scale(0.2);
    transform-origin: top right;
    z-index: 1; /* Ensure it's above other elements */
  }
}

@media screen and (max-width: 768px) {
  .grid-left-end:before {
  content: url('assets/img/home_hist.png');
  position: absolute;
  top: -4.1rem; /* Position at the top of the container */
  left: 0; /* Align with the right border of the container */
  bottom: 0;
  right: 5.6rem;
  transform: scale(0.09);
  transform-origin: top right;
  z-index: 1; /* Ensure it's above other elements */
}
}

.grid-right-end:after {
  content: '';
  position: absolute;
  top: -1rem;
  left: -1rem;
  right: calc((100vw - var(--grid-width))/-2);;
  bottom: -1rem;
  border-radius: 1rem 0 0 1rem !important;
  //border-top: .15rem dashed lighten($body-color, 30%);
  border-bottom: .15rem dashed lighten($body-color, 30%);
  border-left: .15rem dashed lighten($body-color, 30%);
  pointer-events: none;
}

.grid-left-end {
  position: relative;
}

.grid-left-end:after {
  content: '';
  position: absolute;
  top: -1rem;
  right: -1rem;
  left: calc((100vw - var(--grid-width))/-2);;
  bottom: -1rem;
  border-radius: 0 1rem 1rem 0 !important;
  border-top: .15rem dashed lighten($body-color, 30%);
  //border-bottom: .15rem dashed lighten($body-color, 30%);
  border-right: .15rem dashed lighten($body-color, 30%);
  pointer-events: none;
}

.grid-right-top-bottom {
  position: relative;
}

.grid-right-top-bottom:after {
  content: '';
  position: absolute;
  top: -1rem;
  left: -1rem;
  right: 0.25rem;//calc((100vw - var(--grid-width))/-2);;
  bottom: -1rem;
  border-radius: 1rem 0 0 1rem !important;
  border-top: .15rem dashed lighten($body-color, 30%);
  border-bottom: .15rem dashed lighten($body-color, 30%);
  border-left: .15rem dashed lighten($body-color, 30%);
  pointer-events: none;
}

.grid-left-top-bottom {
  position: relative;
}

.grid-left-top-bottom:after {
  content: '';
  position: absolute;
  top: -1rem;
  right: -1rem;
  left: 0.25rem;//calc((100vw - var(--grid-width))/-2);;
  bottom: -1rem;
  border-radius: 0 1rem 1rem 0 !important;
  border-top: .15rem dashed lighten($body-color, 30%);
  border-bottom: .15rem dashed lighten($body-color, 30%);
  border-right: .15rem dashed lighten($body-color, 30%);
  pointer-events: none;
}

.grid-left-top-bottom-end {
  position: relative;
}

.grid-left-top-bottom-end:after {
  content: '';
  position: absolute;
  top: 0rem;
  right: 0rem;
  left: calc((100vw - var(--grid-width))/-2);;
  bottom: 0rem;
  border-radius: 0 1rem 1rem 0 !important;
  border-top: .15rem dashed lighten($body-color, 30%);
  border-bottom: .15rem dashed lighten($body-color, 30%);
  border-right: .15rem dashed lighten($body-color, 30%);
  pointer-events: none;
}

.text-end {
  margin-left: 1rem;
}

.card-body {
  margin-bottom: 1rem;
}
