/*-- scss:defaults --*/

// default theme base
$theme:                           "cosmo" !default;

// fonts import
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Victor+Mono&display=swap');

// fonts style
$headings-font-family:            "Montserrat", serif !default;
$font-family-sans-serif:          "Quicksand", Figtree, Helvetica, sans-serif !default;
$font-family-monospace:           "Fira Mono", monospace;

// font sizes;
$font-size-base:   1rem; //!default; // Assumes the browser default, typically `16px`
$h1-font-size:     $font-size-base * 2.5 !default;
$h2-font-size:     $font-size-base * 2 !default;
$h3-font-size:     $font-size-base * 1.75 !default;
$h4-font-size:     $font-size-base * 1.5 !default;
$h5-font-size:     $font-size-base * 1.25 !default;
$h6-font-size:     $font-size-base !default;

// colors
$primary:                         lighten(#FF6000, 5%) !default;

$body-bg:                         #f7f7f7 !default;
$body-color:                      #171717 !default;
$headings-color:                  $body-color !default;
$code-block-bg:                   darken($body-bg, 3%) !default;
$navbar-bg:                       $body-bg !default;
$navbar-hl:                       $primary !default;
$footer-bg:                       $body-bg !default;
$footer-fg:                       darken($body-bg, 30%) !default;

$link-color:                      $primary !default;
$link-shade-percentage:           30% !default;
$link-hover-color:                shift-color($link-color, $link-shade-percentage) !default;

$code-color:                      lighten($body-color, 10%) !default;
$code-bg:                         darken($body-bg, 10%) !default;

$card-border-color:               $body-color !default;
$form-select-border-color:        $body-color !default;

$badge-font-size:                   1em;
$badge-font-weight:                 normal;
$badge-color:                       $body-bg;
$badge-padding-y:                   .35em;
$badge-padding-x:                   .65em;
$badge-border-radius:               .5rem ;



/*-- scss:rules --*/

