/* heading, subtitle, and blurb */
.entity-contents {
  text-align: right !important;
  padding: 0 2em 0 2em;
}

/* blurb */
.about-contents {
  padding: 0 0 0 2em !important;
}

/* social links: block of links */
.about-entity .about-links {
  justify-content: flex-end !important;
  column-gap: 0em !important;
  font-size: 1.2em !important;
}

/* Learn More About Me */
.about-links.subtitle {
  font-size: 1em !important;
  justify-content: flex-end !important;
}

