/*-- scss:defaults --*/

$lightgray: #fdfdfd;
$somecolor: #e8e8e8e8;
$somecolor2: #828282;
$somecolor3: #3f3f3f;
$somecolor4: #f7f7f7;
$somecolor5: #f0f0f0;
$somecolor6: #dedede;
$somecolor7: #c9c9c9;
$somecolor8: #424242;
$somecolor9: #e3d2d2;


// base document colors:
$navbar-bg: $somecolor3;
